
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Archivo', sans-serif;
}


h1,
h2,
h3,
h4 {
  font-family: 'Georgia', 'Times New Roman', serif;
}

.heading-spaced {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  color: #777 !important;
}

