.artistas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  margin-top: 40px;
}


.artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}


.artist-img-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f4f4;
  border: 4px solid #fff;

  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  transition: transform 0.25s ease;
}

.artist-img-wrapper:hover {
  transform: scale(1.06);
}

.artist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-name {
  margin-top: 15px;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  font-family: "Times New Roman", serif;
  font-weight: 600;
  display: block;
}

.artist-name:hover {
  text-decoration: underline;
}


.artist-meta {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
}

.artist-active {
  margin-top: 4px;
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {

  .filters-column {
    display: none;
  }
  .artistas-title {
    text-align: center;
    width: 100%;
    display: block;
  }

  .filters-mobile-wrapper {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .filter-title {
    display: none;
  }

  .filters-mobile-wrapper .filter-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 16px;
  }

  .filter-group {
    width: 100%;
  }

  .clear-button {
    grid-column: span 2;
    width: 100%;
  }

  .artistas-grid {
    grid-template-columns: 1fr !important;
    gap: 25px;
    margin-top: 30px;
  }

  .artist-card {
    width: 100%;
  }

  .artist-img-wrapper {
    width: 75vw;
    height: 75vw;
    max-width: 330px;
    max-height: 330px;
  }
}
